{% extends "base.html" %}
{% block content %}
    <br>
    <br>
    <div class="previewText">
        <input data-jscolor="{value:'{{ hexColour }}'}" id=colourform>
        <input type="button" id="coloursubmit" value="Update Colour" class="btn btn-dark">
        <input type="button" id="resetcolour" value="Reset to Default Colour" class="btn btn-dark">
        <input type="button" id="clearimage" value="Clear Image" class="btn btn-dark">
        <input type="button" id="togglestrobe" value="Toggle Strobe" class="btn btn-dark">
        <input type="button" id="togglerainbow" value="Toggle Rainbow" class="btn btn-dark">
        <input type="button" id="togglehue" value="Toggle Hue" class="btn btn-dark">
        <br><br>
        <input type="number" id="brightness" value="{{ brightness }}" min="0" max="1">
        <input type="checkbox" id="usetimebrightness" {{ checked }}>
        <input type="button" id="brightnesssubmit" value="Update Brightness" class="btn btn-dark">
    </div>
{% endblock %}