{% extends "base.html" %}
{% block content %}
    <br>
    <br>
    <div class="previewText">
        <input data-jscolor="{value:'{{ hexColour }}'}" id=colourform>
        <input type="button" id="coloursubmit" value="Update Colour" class="btn btn-dark">
        <input type="button" id="resetcolour" value="Reset to Default Colour" class="btn btn-dark">
        <input type="button" id="clearimage" value="Clear Image" class="btn btn-dark">
        <input type="button" id="togglestrobe" value="Toggle Strobe" class="btn btn-dark">
        <input type="button" id="togglehue" value="Toggle Hue" class="btn btn-dark">
    </div>
{% endblock %}