{% extends "base.html" %}
{% block content %}
    <br>
    <br>
    <div class="previewText">
        <h1>Day Settings</h1>       
        <div class="paddingElement">
            <input data-jscolor="{value:'{{ dayHexColour }}'}" id=dayColourform>
        </div>
        <div class="paddingElement">
            <input type="number" id="dayBrightness" value="{{ brightness }}" min="0" max="1">
        </div>
        <div class="paddingElement">
            <input type="button" id="daySubmit" value="Apply" class="btn btn-dark">
        </div>

        <br>
        <h1>Night Settings</h1>   
        <div class="paddingElement">
            <input data-jscolor="{value:'{{ nightHexColour }}'}" id=nightColourform>
        </div>
        <div class="paddingElement">
            <input type="number" id="nightBrightness" value="{{ nightBrightness }}" min="0" max="1">
        </div>   
        <div class="paddingElement">
            Use Night Brightness? <input type="checkbox" id="useNightBrightness" {{ useTimeBrightness }}>
        </div>
        <div class="paddingElement">
            Force night time? <input type="checkbox" id="forceNight" {{ forceNight }}>
        </div>
        <div class="paddingElement">
            <input type="button" id="nightSubmit" value="Apply" class="btn btn-dark">
        </div>

        <br>
        <h1>Other Settings</h1>
        <div class="paddingElement">
            <input type="button" id="clearImage" value="Clear Image" class="btn btn-dark">
            <input type="button" id="toggleStrobe" value="Toggle Strobe" class="btn btn-dark">
            <input type="button" id="toggleRainbow" value="Toggle Rainbow" class="btn btn-dark">
            <input type="button" id="toggleHue" value="Toggle Hue" class="btn btn-dark">
        </div>
    </div>
{% endblock %}